# Virtual environment directory
myenv/

# Model weights (Large file)
yolov5s.pt

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Environment files (such as IDE-specific or OS-specific files)
*.env
*.vscode/
.idea/

# Other temporary files
*.log
*.bak
